<a href="https://colab.research.google.com/github/nurrizkyimani/nlp-clickbait-transfers/blob/main/project_transfer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Drive

In [ ]:
from google.colab import drive
drive.mount("/content/drive/")

Mounted at /content/drive/

# Import

In [ ]:
#!pip install pytorch-nlp
import pandas as pd
import numpy as np

# Preprocessing

In [ ]:
path = "/content/drive/MyDrive/nlp_research/2022_thesis_styletransfer/annotated/combined/csv/"

all_agree_path = path + "all_agree.csv"

In [ ]:
all_agree_pd = pd.read_csv(all_agree_path)

In [ ]:
all_agree_pd.head()

,title,label,label_score
0,"Masuk Radar Pilwalkot Medan, Menantu Jokowi Be...",non-clickbait,0
1,Malaysia Sudutkan RI: Isu Kabut Asap hingga In...,non-clickbait,0
2,Viral! Driver Ojol di Bekasi Antar Pesanan Mak...,clickbait,1
3,"Kemensos Salurkan Rp 7,3 M bagi Korban Kerusuh...",non-clickbait,0
4,MPR: Amandemen UUD 1945 Tak Akan Melebar ke Ma...,non-clickbait,0

In [ ]:
all_agree_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8613 entries, 0 to 8612
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        8613 non-null   object
 1   label        8613 non-null   object
 2   label_score  8613 non-null   int64
dtypes: int64(1), object(2)
memory usage: 202.0+ KB

In [ ]:
all_agree_pd['label'].value_counts()

non-clickbait    5297
clickbait        3316
Name: label, dtype: int64

In [ ]:
df_clickbait = all_agree_pd[all_agree_pd['label'] == "clickbait"]
df_nonclickbait = all_agree_pd[all_agree_pd['label'] == "non-clickbait"]

In [ ]:
df_clickbait.head()

                                                title      label  label_score
2   Viral! Driver Ojol di Bekasi Antar Pesanan Mak...  clickbait            1
8   Ada Motor Nyangkut di Atas Bambu di Sleman, Ko...  clickbait            1
10       Pesan Gamblang Poyuono Menolak Revisi UU KPK  clickbait            1
30  Kocak! Maling di Rumah Mewah Jakut Terekam CCT...  clickbait            1
37  Viral Video Diduga Baku Tembak di Sleman, Ini ...  clickbait            1

In [ ]:
df_nonclickbait.head()

,title,label,label_score
0,"Masuk Radar Pilwalkot Medan, Menantu Jokowi Be...",non-clickbait,0
1,Malaysia Sudutkan RI: Isu Kabut Asap hingga In...,non-clickbait,0
3,"Kemensos Salurkan Rp 7,3 M bagi Korban Kerusuh...",non-clickbait,0
4,MPR: Amandemen UUD 1945 Tak Akan Melebar ke Ma...,non-clickbait,0
5,"Peringati Tahun Baru Islam, Banyuwangi Kembali...",non-clickbait,0

In [ ]:
#creating a concatination of both df clickbait and nonclickbait
df_both = pd.concat((df_clickbait, df_nonclickbait), ignore_index=True)
df_both.head(-2)

,title,label,label_score,data_label
0,Viral! Driver Ojol di Bekasi Antar Pesanan Mak...,clickbait,1,1
1,"Ada Motor Nyangkut di Atas Bambu di Sleman, Ko...",clickbait,1,1
2,Pesan Gamblang Poyuono Menolak Revisi UU KPK,clickbait,1,1
3,Kocak! Maling di Rumah Mewah Jakut Terekam CCT...,clickbait,1,1
4,"Viral Video Diduga Baku Tembak di Sleman, Ini ...",clickbait,1,1
...,...,...,...,...
8606,KPK Tepis Tudingan Moeldoko Soal Hambat Investasi,non-clickbait,0,0
8607,"Smart SIM Diluncurkan, Wakapolri Harap Bisa Me...",non-clickbait,0,0
8608,"Wamena Papua Kembali Membara, Kantor Bupati Di...",non-clickbait,0,0
8609,BMKG Angkat Bicara Soal Langit Merah Jambi,non-clickbait,0,0
8610,Operasional Bandara Wamena Dihentikan Akibat R...,non-clickbait,0,0

In [ ]:
df_both['data_label'] = np.where(df_both['label'] == "clickbait", 1, 0)

In [ ]:
df_both_clean = df_both.drop('label_score', axis=1)
df_both_clean['data_label'] = df_both_clean["data_label"].astype(float)

In [ ]:
df_both_clean = df_both_clean.drop('label', axis=1)

In [ ]:
d_all = df_both_clean

In [ ]:
d_all.columns = ['text', 'labels']

In [ ]:
cols = d_all.columns.tolist()
cols = cols[-1:] + cols[:-1]
d_all = d_all[cols]

In [ ]:
# df for clickbait turn into d_neg
df_clickbait['data_label'] = np.where(df_clickbait['label'] == "clickbait", 1, 0)
df_click_clean = df_clickbait.drop('label_score', axis=1)
df_click_clean['data_label'] = df_click_clean["data_label"].astype(float)
df_click_clean = df_click_clean.drop('label', axis=1)

d_pos = df_click_clean
d_pos.columns = ['text', 'labels']
d_c = d_pos

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
d_pos.head()

                                                 text  labels
2   Viral! Driver Ojol di Bekasi Antar Pesanan Mak...     1.0
8   Ada Motor Nyangkut di Atas Bambu di Sleman, Ko...     1.0
10       Pesan Gamblang Poyuono Menolak Revisi UU KPK     1.0
30  Kocak! Maling di Rumah Mewah Jakut Terekam CCT...     1.0
37  Viral Video Diduga Baku Tembak di Sleman, Ini ...     1.0

In [ ]:
df_nonclickbait['data_label'] = np.where(df_nonclickbait['label'] == "non-clickbait", 0, 1)
df_nonclick_clean = df_nonclickbait.drop('label_score', axis=1)
df_nonclick_clean['data_label'] = df_nonclick_clean["data_label"].astype(float)
df_nonclick_clean = df_nonclick_clean.drop('label', axis=1)

d_neg = df_nonclick_clean
d_neg.columns = ['text', 'labels']
d_nc = d_neg

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
d_pos = d_c
d_neg = d_nc
d_both = d_all

In [ ]:
d_both=d_both.iloc[:,0]

In [ ]:
d_both

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
8608    0.0
8609    0.0
8610    0.0
8611    0.0
8612    0.0
Name: labels, Length: 8613, dtype: float64

In [ ]:
d_pos=d_pos.iloc[:,0]
d_neg=d_neg.iloc[:,0]

# EDA

In [ ]:
bag_of_word = pd.Series([y for x in d_all['title'].values.flatten() for y in x.split()]).value_counts()

In [ ]:
bag_of_word[50:100]

Ibu           119
Sudah         118
2             118
Dunia         115
Gelar         115
Siap          113
Masih         112
Kasus         110
Foto          108
Mobil         105
Jalan         105
Kembali       103
Lebih         103
Episode       103
Pemerintah    100
Ingin          99
Korban         96
Jakarta        96
Alasan         96
hingga         94
Timnas         93
Hingga         93
Tidak          92
DKI            91
Cara           91
Air            89
Aksi           89
Pakai          88
Ungkap         88
vs             88
Beri           87
Presiden       86
Vs             85
Anggota        84
RUU            83
Tayang         82
Video          81
dalam          81
6              80
Tewas          80
Ikut           80
Harga          80
Menteri        80
DPRD           79
Kata           78
Di             78
Sinetron       78
Karhutla       77
Apa            76
Naik           76
dtype: int64

In [ ]:
d_both = d_all
d_pos = df_clickbait
d_neg = df_nonclickbait

d_pos=d_pos.iloc[:,0]
d_neg=d_neg.iloc[:,0]
d_both=d_both.iloc[:,0]